[submodule "rayforce-sys/vendor/rayforce"]
	path = rayforce-sys/vendor/rayforce
	url = git@github.com:RayforceDB/rayforce.git
[submodule "rayforce-sys/vendor/rayforce-q"]
	path = rayforce-sys/vendor/rayforce-q
	url = git@github.com:RayforceDB/rayforce-q.git
